body{
  margin: 0 0 0 0;
  background-color: darkgray;
}
nav{
  /* padding-bottom:6vh; */
  background-color: gray;
  height: 7vh;
  transition: 1s
}
nav img{
  width: 6vw;
  height: 7vh;
  /* padding-bottom: 1vh; */
  transition: 1s;
}
.Photos{
  display: grid;
  grid-template-columns: repeat(2, 49vw);
  grid-template-rows: repeat(3, 30vh);
  text-align: center;
  /* margin-left: 5px; */

}

.Photos img:hover{
  width: 45vw;
  height: 27vh;
  transition: 1s;
}

/* Hide all slides by default */
.slide {
  display: none;
}

/* Display active slide */
.slide.active {
  display: block;
}

/* Ensure images fill their parent container */
.slide img {
  width: 48vw;
  height: 29vh;
  /* object-fit: cover; */
  margin-top: 1vw;
  margin-left: 1vw;
  /* margin-right: 1vw; */
  border-radius: 2vh;
  transition: 1s;
}
.prev{
  position: absolute;
  left: 4vw;
  top: 30vh;
  /* transform: translateY(-90%); */
  font-size:7vw;
}
.next{
    position: absolute;
    right: 4vw;
    top: 30vh;
    /* transform: translateY(-90%); */
    font-size: 7vw;
}


/* Change button background on hover */
.prev:hover, .next:hover {
  background-color: white;
}

.Mainer img{
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 70vh;
}

.Closer {
  position: absolute;
  left: 50%;
  bottom: 2vh; 
  padding: 1vw 3vw;
  border-radius: 1vw;
  transform: translateX(-50%);
}